@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #87670946;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #87670946;
}

.active {
  background-color: #000;
}

.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #87670946;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
 
}

p {
  font-family: 'Share Tech Mono', monospace;
  }
  p.a{
    font-size: 40px;
  }
  p.b{
    font-size: 50px;
  }
  p.c{
    font-size: 35px;
  }
  body  {
    background-attachment: fixed;
    background-color: #876709;
  }
  
  .intro-msg{
    position: absolute;
    top:50px;
    left:16px;
  }
   *links
   .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
